<div class="col-md-4 offset-md-4" id="wrapper" [formGroup]="secretForm">
  <div class="row">
    <div class="col">
      <mat-form-field class="w-100">
        <textarea class="w-100" rows="17" matInput formControlName="secret" placeholder="Type your secret text.."></textarea>
      </mat-form-field>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input type="password" matInput formControlName="password" placeholder="Enter password.."/>
      </mat-form-field>      
    </div>
  </div>

  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>Expires In:</mat-label>
        <mat-select formControlName="expiresIn">
          <mat-option *ngFor="let option of expiresIn" [value]="option.value">{{ option.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button mat-flat-button (click)="onCreateSecret()" color="primary">Create a secret link</button>
    </div>
  </div>
</div>
